.buttonBackgroundColor {
  background-color: bisque;
  padding: 1rem;
}

.button {
  border: 0;
  border-radius: 0.3rem;

  width: 6.5rem;
  height: 2.5rem;
  background-color: rgb(253, 202, 73);
  color: brown;
  font-weight: 700;
}

button:hover {
  background-color: #b31200;
  color: rgb(253, 202, 73);
  font-weight: 700;
}
